.header {
  padding-top: floor((@grid-gutter-width / 2));
  padding-bottom: floor((@grid-gutter-width / 2));

  color: white;
  background-color: #484950;
  background-image: url(/images/header-bg.png);
  background-size: cover;

  .header-icon {
    padding-left: 65px;

    i {
      display: inline-block;
      width: 50px;
      margin-left: -50px;
    }
  }

  .header-actions {
    .text-right;

    padding-top: @line-height-computed;
  }
}

.body {
  padding-top: @grid-gutter-width;
  padding-bottom: @grid-gutter-width;
}

.well,
.panel-body {

  h2:first-child {
    margin-top: 0;
  }
}

.panel-default {

  > .panel-heading.attach {
    border-bottom-color: transparent;
  }

  > .panel-footer.attach {
    border-top-color: transparent;
  }
}

pre.code {
  background-color: @gray-darker;
  color: @gray-lighter;
  border-color: @gray-darker;
}

.ellipsis {
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  line-height: 125%;
}
