@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,300,600);

@appc-red: #b50d00;
@brand-danger: @appc-red;

@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// transparent panel heading and footer
@panel-default-heading-bg: transparent;
@panel-heading-padding: 15px;
@panel-footer-bg: transparent;

// no list group borders
@list-group-border: transparent;
