<p class="lead">DevLink has a new Home</p>

<br />

<p>As part of <a href="http://www.appcelerator.com/blog/2016/01/embracing-stack-overflow-for-appcelerator-community-support/">embracing StackOverflow for Appcelerator Community Support</a> DevLink now has a new home.</p>

<br />

<p><a href="https://devlink.appcelerator.com" class="btn btn-default">Continue to <em>DevLink 2.0</em> landing page</a></p>

{{#if action}}

  <p>or</p>

  <p><a href="{{url}}" class="btn btn-default">{{action}}</a></p>

{{/if}}
