<p class="lead">Appcelerator Community Support has a new Home</p>

<br />

<p>Learn why we are <a href="http://www.appcelerator.com/blog/2016/01/embracing-stack-overflow-for-appcelerator-community-support/">embracing Stack Overflow</a>.</p>

<br />

<p><a href="/" class="btn btn-default">Continue to our new <em>Get Help</em> Portal</a></p>

{{#if action}}

  <p>or</p>

  <p style="word-break: break-all">{{action}}</p>

{{/if}}
