<p class="lead">Appcelerator Community Support has a new Home</p>

<br />

<p>Learn why we are <a href="http://www.appcelerator.com/blog/2016/01/embracing-stack-overflow-for-appcelerator-community-support/">embracing Stack Overflow for Appcelerator Community Support</a> or</p>

<br />

<p><a href="{{url}}" class="btn btn-default">{{action}}</a></p>
