<p class="lead">DevLink has a new Home</p>

<br />

<p>As part of <a href="http://www.appcelerator.com/blog/2016/01/embracing-stack-overflow-for-appcelerator-community-support/">embracing StackOverflow for Appcelerator Community Support</a> DevLink now has a new home.</p>

<br />

<p><a href="{{url}}" class="btn btn-default">{{action}}</a></p>
