<!-- FOOTER -->
<div id="footer" class="bg bg-triangles-dark">
  <div class="container">

    <div class="row">

        <div class="col-sm-2">
          <dl>
            <dt>Product</dt>
              <dd><a href="http://www.appcelerator.com/mobile-app-development-products/" target="_blank">Appcelerator Platform</a></dd>
              <dd><a href="http://www.appcelerator.com/pricing/" target="_blank">Plans &amp; Pricing</a></dd>
          </dl>
        </div>
        <div class="col-sm-2">
          <dl>
            <dt>Developers</dt>
              <dd><a href="http://university.appcelerator.com/" target="_blank">App U.</a></dd>
              <dd><a href="/help" >Help</a></dd>
              <dd><a href="http://docs.appcelerator.com/" target="_blank">Documentation</a></dd>
              <dd><a href="http://marketplace.appcelerator.com/" target="_blank">Marketplace</a></dd>
              <dd><a href="http://www.appcelerator.com/company/events/" target="_blank">Events</a></dd>
          </dl>
        </div>
        <div class="col-sm-2">
          <dl>
            <dt>Enterprise</dt>
              <dd><a href="http://www.appcelerator.com/enterprise/" target="_blank">Overview</a></dd>
          </dl>
        </div>
        <div class="col-sm-2">
          <dl>
            <dt>About</dt>
              <dd><a href="http://www.appcelerator.com/company/" target="_blank">Company</a></dd>
              <dd><a href="http://www.appcelerator.com/company/jobs/" target="_blank">Careers</a></dd>
              <dd><a href="http://www.appcelerator.com/company/#leadership-team" target="_blank">Leadership</a></dd>
              <dd><a href="http://www.appcelerator.com/contact-us/" target="_blank">Contact Us</a></dd>
              <dd><a href="http://www.appcelerator.com/partners/" target="_blank">Partners</a></dd>
          </dl>
        </div>

      <div class="col-sm-4 social">
        <p class="lead">Reach out &amp; stay in touch!</p>
        <p>
          <a href="https://twitter.com/AppcDev" class="btn btn-link btn-xs" role="button"><i class="fa fa-twitter"></i></a>
          <a href="https://github.com/appcelerator-developer-relations" class="btn btn-link btn-xs" role="button"><i class="fa fa-github"></i></a>
        </p>
      </div>

    </div>
    <div class="row">

        <div class="col-sm-2">
          <dl>
            <dt>Customers</dt>
              <dd><a href="http://www.appcelerator.com/customers/" target="_blank">Our Customers</a></dd>
              <dd><a href="http://www.appcelerator.com/resource-center/case-studies/" target="_blank">Case Studies</a></dd>
              <dd><a href="http://www.appcelerator.com/customers/app-showcase/" target="_blank">App Showcase</a></dd>
          </dl>
        </div>
        <div class="col-sm-2">
          <dl>
            <dt>Media</dt>
              <dd><a href="http://www.appcelerator.com/company/news/" target="_blank">Press</a></dd>
              <dd><a href="http://www.appcelerator.com/resource-center/white-papers/" target="_blank">Whitepapers</a></dd>
              <dd><a href="http://www.appcelerator.com/resource-center/webinars/" target="_blank">Webinars</a></dd>
              <dd><a href="http://www.appcelerator.com/resource-center/research/" target="_blank">Research</a></dd>
              <dd><a href="http://www.appcelerator.com/resource-center/videos/" target="_blank">Videos</a></dd>
          </dl>
        </div>
        <div class="col-sm-2">
          <dl>
            <dt>Blog</dt>
              <dd><a href="http://www.appcelerator.com/cat/developer/" target="_blank">Developer</a></dd>
              <dd><a href="http://www.appcelerator.com/cat/enterprise/" target="_blank">Enterprise</a></dd>
              <dd><a href="http://www.appcelerator.com/cat/product-updates/" target="_blank">Product Updates</a></dd>
          </dl>
        </div>
        <div class="col-sm-2">
          <dl>
            <dt>Open Source</dt>
              <dd><a href="http://www.appcelerator.org/" target="_blank">Titanium®</a></dd>
          </dl>
        </div>

      <div class="col-sm-4 legal">
        <img src="/images/appc-logo.png" class="logo" alt="Appcelerator - Now Part Of AxWay" />
        <p>&copy; 2008-2016 Appcelerator Inc. All rights reserved. Appcelerator and Titanium are registered <a href="http://www.appcelerator.com/legal/trademark-policy/" target="_blank">trademarks</a>.</p>
        <p class="links"><a href="/help">Help &amp; Support</a> <a href="http://www.appcelerator.com/privacy/" target="_blank">Privacy Policy</a> <a href="http://www.appcelerator.com/legal/" target="_blank">Legal Information</a></p>
      </div>

    </div>

  </div>
</div>
