<div class="header {{#if icon}}has-icon{{/if}}">
  <div class="container">
    <h1>{{#if icon}}<i class="{{icon}}"></i>{{/if}}Appcelerator Developer</h1>
    {{#if title}}<p class="lead">{{title}}</p>{{/if}}
  </div>
</div>
